<div class="album-cover-card">
    <a [routerLink]="['/album', album?.id]">
        <div>
            <div class="album-cover-image">
              <img src='assets/images/pexels-lisa-fotios-2090881.jpg'/>
            </div>
            <div>
                <p class="card-title">{{ album?.title?.slice(0,25) }}...</p>
            </div>
            <div class="album-cover-icons">
              <p>
                <fa-icon class="faicon eye-icon" [icon]="faEye"></fa-icon>
                {{ viewCount }}
              </p>
          </div>
          </div>
    </a>
  </div>