<div class="post-frame-card">
    <div class="text-content">
        <div class="title-wrapper">
            <p  class="post-title"> {{ post?.title }}</p>
        </div>
        <div class="body-wrapper">
            <p  class="post-body"> {{ post?.body }} </p>
        </div>
        <div class="bottom-bar">
            <div class="author-wrapper" *ngIf="(postAuthor | async) as author">
                <p class="author-prop">Author: </p>
                <p>{{ author.email }} </p>
            </div>
            <div class="delete-post-wrapper" *ngIf="post?.userId === 1">
                <button (click)="deletePostClick(post?.id ?? 0)" class="delete-post-button">Delete</button>
            </div>
        </div>
    </div>
    <div class="comment-section">
        <div class="comment-cards">
            <app-post-comment
            *ngFor="let comment of comments | async"
            [comment]="comment"
            (deleteComment)="deleteComment($event)"
            >
            </app-post-comment>
        </div>
        <div class="comment-input">
            <textarea [(ngModel)]="commentContent" placeholder="Comment yourself"></textarea>
            <button class="comment-button" (click)="sendComment()">Send</button>
        </div>
    </div>
</div>