.photo-covers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.photos-info {
    font-size: 30px;
    padding: 2%;
    font-weight: bold;
    color: rgb(26, 32, 32);
}