.comment-content {
    margin: 5px;
    background-color: rgb(188 229 229);
    font-size: 13px;
    padding: 5px;

    .name-wrapper {
        color: rgb(99, 101, 216);
    }

    .body-wrapper {
        margin-top: 5px;
    }
}